body {
  margin: 0;
  font-size: 1.5em;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #555;
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  background: rgba(200,200,200,0.96);
  position: fixed;
  width: 100%;
}
nav a {
  width: 5em;
}
nav a:hover {
  color: #fff;
}
.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
}
.top:hover {
  background: rgba(200,200,200,0.96);
}
main {
  display: block;
  /* height cannot be auto or 100% */
  height: 1000px;
  /* overflow-y can also be scroll */
  overflow-y: auto;
  scroll-behavior: smooth;
}
section {
  padding: 0 2em;
}
h2 {
  font-size: 5em;
  margin: 0;
  padding-top: 0.75em;
}
p a:hover {
  text-decoration: underline;
}
