body {
  margin: 0;
  font-size: 1.25em;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #555;
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  background: rgba(200,200,200,0.96);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
nav a {
  width: 5em;
}
nav a:hover {
  color: #fff;
}
main {
  display: block;
  /* height cannot be auto or 100% */
  height: 100vh;
  /* overflow-y can also be scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow: scroll;
}
section {
  padding: 1em 0.5em 0;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}
section:nth-child(even) {
  background: #ddd;
}
h2 {
  font-size: 2.5em;
  margin-top: 0.25em;
}
p {
  line-height: 1.5em;
}
p a {
  text-decoration: underline;
  color: #555;
}
p a:hover {
  color: #777;
  text-decoration: none;
}
.top {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
  position: absolute;
  bottom: 0;
  background: rgba(200,200,200,0.86);
  text-decoration: none;
  color: #555;
}
.top:hover {
  background: rgba(160,160,160,0.96);
  color: #fff;
}

@media screen and (min-width: 600px) {
  section {
    padding: 1em 2em 0;
  }
  h2 {
    font-size: 3em;
  }
}